/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a {
  color: #000000;
}

nav .brand-logo {
  color: #F71735;
}

nav .brand-logo {
    padding: 0 5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav .brand-logo {
  font-family: 'Satisfy', cursive;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #000000;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #FFFFFF;
}

.parallax-container .section {
    width: 100%;
    height: 100%;    
}
.section-intro {
    width: 100%;
    height: 100%;    
}

h1  .header {
    margin-top: 15%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.col-spazio {
  margin-top: 5%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.section-registrazione {
  width: 100%;
  height: 100%;    
}

.btn-registrazione {
  width: 100%;
}

footer.page-footer {
  margin: 0;
  background-color: #F71735;
}